
.kitchen-row{
    display: grid;
    grid-template-columns: repeat(5, 8rem);
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 7rem;
   
}
.keukenul{
    z-index: 500;
}
.keukenul-link{
    display: inline-block;
    text-decoration: none;
    color: rgb(42, 42, 42);
    padding: 10px;
}
.keukenul-link:hover{
    font-size: 12pt;
    font-weight: bold;
}
@media screen and (max-width: 1200px) {
    .kitchen-row{
        column-gap: 4rem;
    }
}
@media screen and (max-width: 992px) {
    .kitchen-row{
        grid-template-columns: repeat(4, 8rem);
        column-gap: 2rem;
    }
}

    