.contact-container {
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  min-height: 660px;
  flex-wrap: wrap;
}
.contact-ways {
  width: 22%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #97b7385b,
    5px 5px 15px 5px rgb(194 233 148 / 21%);
  background: #fe9400;
}
.contact-ways-title {
  font-size: 17pt;
  /* margin-top: 25px; */
  /* text-align: center; */
  color: #fff;
}
.ways {
  margin-top: 100px;
  /* color: white; */
}
.way {
  margin-top: 30px;
}
.title-way {
  font-weight: bold;
}
.content-way {
  color: rgb(70, 70, 70);
}

.contact-form-box {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 13px -7px #97b7385b,
    5px 5px 15px 5px rgb(194 233 148 / 21%);
  background: #fff;
  margin-left: 20px;
}

.contact-form-box form {
  margin-top: 40px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}
.form-group label {
  display: block;
}
.form-group input,
.form-group textarea {
  width: 19rem;
  padding: 10px;
  border-radius: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
}
.form-group button {
  width: 19rem;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  background: #fe9400;
  border: none;
  box-shadow: 2px 2px 1px 2px rgb(0 0 0 / 13%);
}
.form-group:last-child {
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 1200px) {
   
    .contact-ways {
      width: 30%;
    }
    
  }

@media (max-width: 900px) {
  .contact-container {
    padding: 40px 25px;
  }
  .contact-ways {
    width: 40%;
    padding: 40px 30px;
  }
  /* .contact-form-box {
    width: 40%;
    padding: 40px 30px;
  } */
  /* .form-group input,
  .form-group textarea,
  .form-group button {
    width: 14rem;
  } */
}
@media (max-width: 860px) {
    .contact-container {
      padding: 40px 20px;
    }
    .contact-ways {
      width: 35%;
      padding: 40px 20px;
    }
}
@media (max-width: 768px) {
  .contact-container {
    padding: 40px 20px;
  }
  .contact-ways {
    width: 55%;
    padding: 40px 25px;
  }

  .contact-form-box {
    width: 55%;
    padding: 25px;
    margin: 20px 0;
  }
}
@media (max-width: 600px) {
  .contact-container {
    padding: 40px 10px;
  }
  .contact-ways {
    width: 80%;
  }
  .contact-form-box {
    width: 80%;
    margin: 20px 0;
  }
  .form-group input,
  .form-group textarea,
  .form-group button {
    width: 16rem;
  }
}
@media (max-width: 368px) {
    .form-group input,
  .form-group textarea,
  .form-group button {
    width: 17rem;
  }
}
@media (max-width: 368px) {
    .form-group input,
  .form-group textarea,
  .form-group button {
    width: 13rem;
  }
}
@media (max-width: 300px) {
    .form-group input,
  .form-group textarea,
  .form-group button {
    width: 11rem;
  }
}
