:root{
    --mybgcolor:#FF5722;
    --mytextcolor:#fff;
    --shadow:#D7DBDD;
    
   }
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    flex-direction: column;
    padding: 10px 20px;

}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    min-width: 80vw;
    margin: 3rem 20px;
    padding: 10px;
}
.contact-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.contact-text h2{
margin-top: 3rem 5px;
text-align: center;
width: 100%;
}
.contact-text p{
    width: 100%;
    margin: 1rem 5px;
    padding: 5px;

}
.recht{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex-direction: column; */
    width: 100%;
}
.img-klein{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.recht-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.recht-img img{
    width: 60%;
    height: 60%;
    border-radius: 5px;
}
.recht-title{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.recht-title h3{
    margin-bottom: 3rem 5px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;

}
.recht-title p{
padding: 10px;
margin: 5px;
width: 100%;
}
.text-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
}
.input ul{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
list-style: none;
flex-direction: column;
margin-left: 2rem;
}
.input ul li{
display: flex;
align-items: flex-start;
justify-content: center;
width: 100%;
flex-direction: column;
margin: 1rem 5px;
}
.input ul li input{
    padding: 15px;
    margin: 5px;
    width: calc(100vw/2);

}
.input ul li textarea{
    padding: 15px;
    margin: 5px;
    width: calc(100vw/2);
}
.input ul button{
    padding: 15px;
    margin: 1.5rem;
    width: calc(100vw/5); 
    background-color:var(--mybgcolor);
    border-radius: 10px;
    cursor: pointer;
    color:var(--mytextcolor);
    font-size: 14px;
    border: none;
}
.input ul button:hover{
   
    width: calc(100vw/4); 
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px var(--shadow);
}
.input ul li label{
    padding: 5px;
    

}
@media (max-width:900px){
 .top{
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
     row-gap: 4rem;
 }   
 .random{
     height: 0;
     min-height: 0;
 }

}
@media(max-width:600px){
    .img-klein{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
        flex-direction: column-reverse;
    }
}