.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.7fr 0.7fr;
    width: 100vw;
    background-color: rgb(41, 41, 41);
    align-items: center;
    justify-content: center;
    padding: 5px;
    overflow-x: hidden;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(5,0.5fr);
    width: 100%;
    padding:5px;
    margin: 1rem 5px;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1;
    
}
.footer-icons div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    
}
.footer-icons div i{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: solid 1px rgb(122, 122, 122);
    padding: 10px;
    font-size: 27px;
    color: rgb(206, 207, 208);
    cursor: pointer;
}
.footer-icons div i:hover{
border: dotted 1px rgb(231, 230, 230);
box-shadow: 0 1px 10px rgb(254, 254, 254);
transition: all 0.5s ease-in-out;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-column: 2/3;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
}
.footer-menu div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer-link span{
    color:white;
    cursor: pointer;

}
.footer-brand{
    display: grid;
    grid-column: 2/3;
    grid-row: 3;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.footer-brand div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer-brand div span{
    color: white;
}