.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    padding: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    padding: 10px;
    margin: 5px 10px;
}
.title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
}
.pic{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pic img{
    padding: 10px 5px;
    margin: 5px;
    height: 15rem;
    border-radius: 10px;
    width: 100%;
  max-width: 500px;
  height: auto;
}
.name{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}
.name p{
    width: 100%;
    overflow-y: hidden;
    margin: 2rem 20px;
    font-size:  clamp(1.1rem, 1vw, 2.2rem);
}
.name p span:first-child{
    font-weight: 700;
    margin: 0 20px;
}
.namefood span{
font-size: clamp(1.8rem, 2vw, 2.8rem);
padding: 10px;
width: 100%;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    flex-direction: column;
}
.details-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 10px;
    padding: 10px;
}
.details-title span{
    font-size: clamp(1.8rem, 2vw, 2.8rem);
    width: 50%;
    margin: 5px;
    padding: 10px;
    border-bottom: solid 2px rgb(110, 110, 120);
    text-align: center;

    
}
.detail1{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    margin: 5px;
}
.detail1 span{
    margin: 5px 1rem;
    font-size: clamp(1.2rem, 1.2vw, 2.2rem)

}
.detail1 span:last-child{
    text-align: end;
}
.detail1:hover{
    transform: scale(1.5,1.5);
    border-bottom: solid 1px rgb(110, 110, 120);
}
.recept{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1rem 5px;
    padding: 10px 5px;

}
.recept span{
    width: 100%;
    padding: 10px;
    margin: 5px;
    line-height: 25px;
}