
.keukenul{
    list-style: none;
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: repeat(14 , 3rem);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    
    
    
}
.datakeuken{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
    padding: 20px;
   

}
.datakeuken span{
    width: 100%;
    padding: 20px;
    color: var(--black);
}
.keukenul-link{
    text-decoration: none;
}
@media screen and (max-width: 1500px) {
    .keukenul{
        grid-template-columns: repeat(7,3rem);
        grid-template-rows: repeat(4,1rem);
        row-gap: 20px;
        padding: 20px;
        
    }    
      }
    