 
.keukenulmobile{
    list-style: none;
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: repeat(14 , 3rem);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    
    
    
}
.datakeukenmobile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
    padding: 20px;
   

}
.datakeukenmobile span{
    width: 100%;
    padding: 20px;
    
} 
@media (max-width: 900px) {
.keukenulmobile{
    min-height: 28rem;
    min-width: 100vw;
    position: absolute;
    top:0;
    left:-32rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,3rem);
    column-gap: 20px;
}    
  }
  @media (max-width: 670px) {
    .keukenulmobile{
        min-height: 28rem;
        min-width: 10rem;
        position: absolute;
        top:0;
        left:-28rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(9,3rem);
        column-gap: 20px;
        
    }    
      }
      @media (max-width: 550px) {
        .keukenulmobile{
            min-height: 28rem;
            min-width: 10rem;
            position: absolute;
            top:0;
            left:-18.6rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(14,2rem);
            column-gap: 10px;
            
        }    
          }
          @media (max-width: 380px) {
            .keukenulmobile{
                min-height: 28rem;
                min-width: 10rem;
                position: absolute;
                top:0;
                left:-9.9rem;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(28,3rem);
                column-gap: 10px;
                overflow-y: scroll;
                
            }    
              }
 