:root{
    --mybgcolornav:#4D6508;
    --mytextcolor:#fff;
    --shadow:#D7DBDD;
    --black:#17202A;
    --submenu:#d6d658;
    
   }
   @import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
.rectangle{
    background-color: var(--mybgcolornav);
     width: 100vw;
     height: 95px;
     display:flex;
     align-items: center;
     justify-content: center;
     position: relative;
     
 
 }
 .logo{
display: flex;
align-items: center;
justify-content: center;
    
     width: 100%;
 }
 .logo span{
    font-family: 'Water Brush', cursive;
    font-size: 35px;
    color: var(--mytextcolor)
 }
 .menu{
     display: grid;
     place-items: center;
     grid-template-columns: .5fr auto .5fr;
     width:100%; 

     
     
 }
 
 .menu-items{
     display: flex;
     align-items: center;
     justify-content: center;
     width:100%;
     margin: 0 1rem;
    
 }
 
 .menu-item{
     display: flex;
     align-items: center;
     justify-content: center;
     list-style: none;
    width: 100%;
     
 }

 .menu-item li{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 5px;
    
     padding: 0 5px;
     width: 100%;
 }
 .menu-item li span{
     padding: 0 30px;
     font-size: 17px;
     width: 100%;
 }
 .login{
     
    width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    
 }

 .hidekeuken{
     display: none;
 }
 .showkeuken{
   
     position:absolute;
    min-width: 100vw;
      padding: 10px 0;
     top:5.8rem;
     left: 0; 
     background: rgb(238,174,202);
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(194,233,148,1) 100%);
     box-shadow: 0 5px 10px var(--shadow);
     z-index: 2;
    
     
    
 }
 .showingredante {
    /* display:flex;
    align-items: center;
    justify-content: center; */
    position:absolute;
    min-width: 100vw;
    padding: 10px 0;
    top:5.8rem;
    left: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(194,233,148,1) 100%);
    z-index: 2;
    box-shadow: 0 5px 10px var(--shadow);
    
   
}
 .hideingredante{
     display: none;
 }

 .keuken{
     
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
    
     
 
 }
 .ingredante{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 }
 .white{
     color: var(--mytextcolor);
     cursor: pointer;
 }
 .dark{
     color:var(--black);
     cursor: pointer;
 }
 
 .nlink{
     color:var(--black);
     width: 100%;
     text-decoration: none;
     
 }
 .alink{
     color: var(--mytextcolor);
     width: 100%;
     text-decoration: none;
 }
 .alink span, .nlink span, .white span, .dark span{
     width: 100%;
 }
 .over{
     width: 100%;
 }

 @media screen and (max-width: 900px) {
    .menu{
        grid-template-columns: 0.5fr 0.5fr;
    }
    .menu-items{
        display: none;
    }
  }