 /*################# Login Bar #####################*/
 .login{
     display: flex;
     align-items: center;
     justify-content: center;
 }
.login-link{
    text-decoration: none;
    font-family: Tahoma ;
    font-size: 13pt;
    color: var(--mytextcolor);
    padding: 7px 15px;
    margin-left: 10px;
    border-radius: 7px;
    background: #edac02;
    color: white;
    border: none;
}
.login-link:hover{
    background: white;
    color: #edac02;
}

@media (max-width: 450px) {

    .login-link{
       font-size: 11pt;
    }
 }
 @media (max-width: 355px) {

    .login-link{
       font-size: 10pt;
       padding: 7px 12px;
       margin-left: 5px;
    }
 }
